*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background-color: #FCF8EF;
}

#container{
    display: flex;
    width: 100%;
    flex-direction: column;
}

/* Parte superior */
#aba-superior{
    position: fixed;
    top: 0;
    display: flex;
    width: 100%;
    padding: 20px 110px;
}

.titulo {
    font-family: "Fleur De Leah", cursive;
    font-style: normal;
    font-size: 55px;
    display: inline-flex;
    margin-right: auto;
    color: #323232;
}

#botoes-superiores{
    display: inline-flex;
    margin-left: auto;
    gap: 60px;
    align-items: center;
}

#botoes-superiores a{
    font-family:'Courier New', Courier, monospace;
    color: #FCF8EF;
    text-decoration: none;
    font-size: 20px;
}

#agendamentos{
    border: solid 1px #FCF8EF;
    padding: 15px;
    border-radius: 55px;
}
/*  */

/* Imagens */
#background-direita{
    position: absolute;      
    top: 0;
    right: 0;
    width: 50vw;          
    height: 100vh;        
    background-image: url("assets/1.jpeg");
    background-repeat: no-repeat;
    background-position: 30px;
    background-size: cover;

    z-index: -1;          
    pointer-events: none; 
}

#img-central{
    margin: auto;
    margin-top: 260px;

}

#img-central img{
    width: 350px;
}

#img-esquerda{
    position: absolute;      
    top: 25%;
    left: 10%;
    width: 300px;          
    height: 300px;        
    background-image: url("placeholders/esquerda.png");
    background-repeat: no-repeat;
    background-position: 30px;
    background-size: cover;

    z-index: -1;          
    pointer-events: none; 
}

/*  */

/* barra */

#barra-baixa{
    width: 100vw;
    height: 170px;
    border: solid 1px red;
    background-color: #D8B192;
    position: absolute;
    z-index: -2;  
}

/*  */


