*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background-color: #FCF8EF;
    display: inline;
}


/* FUNDO //////////////////////////////////////////////////////////////////////////////////////////////*/
#container-atras{
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
}

#fundo-direita img{
    height: 100vh;
    left: 0;
    display: block;
}

/* IMAGEM ESQUERDA ////////////////////////////////////////////////////////////////////// */

#fundo-esquerda{
    margin-top: 25vh;
}

#fundo-esquerda img{
    width: 350px;
}


/* ABA SUPERIOR //////////////////////////////////////////////////////////////////////////////////////////////*/

#aba-superior{
    position: absolute;
    top: 0;
    display: flex;
    width: 100%;
    padding: 20px 110px;
}

.titulo {
    font-family: "Fleur De Leah", cursive;
    font-style: normal;
    font-size: 55px;
    display: inline-flex;
    margin-right: auto;
    color: #323232;
}

#botoes-superiores{
    display: inline-flex;
    margin-left: auto;
    gap: 60px;
    align-items: center;
}

#botoes-superiores a{
    font-family:'Courier New', Courier, monospace;
    color: #FCF8EF;
    text-decoration: none;
    font-size: 20px;
}

#agendamentos{
    border: solid 1px #FCF8EF;
    padding: 15px;
    border-radius: 55px;
}

/*  BARRA INFERIOR //////////////////////////////////////////////////////////////////////////////////////////////*/

#barra-inferior{
    position: absolute;
    bottom: 0;
    z-index: -2; 

    height: 150px;
    width: 100vw;
    background-color: #D8B192;
}

#botao-principal{
    margin-top: 28vh;
    border: solid 1px #323232;
    padding: 15px 35px;
    border-radius: 55px;
    background-color: #FCF8EF;
}

#botao-principal a{
    font-family:'Courier New', Courier, monospace;
    color: #323232;
    text-decoration: none;
    font-size: 28px;
}

/* ESQUERDA /////////////////////////////////////////////////////// */
#esquerda{
    
    position: absolute;
    display: block;
    text-align: center;
    border: 1px solid blue;
    width: 55%;
    height: 100vh;
    padding: 0 200px;
}