*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background-color: #EFCEC9;
}

.aba-superior{
    display: flex;
    border: 1px solid red;
    padding: 5px 30px;
    align-items: center;
}

.aba-superior img{
    width: 100px;
}

.aba-superior p{
    font-family: "Fleur De Leah", cursive;
    font-style: normal;
    font-size: 55px;
    display: inline-flex;
    margin-right: auto;
    color: #323232;
}

.contatos{
    display: flex;
    gap: 30px;
}

.contatos a img{
    width: 35px;
}

.titulo{
    display: flex;
    margin-right: auto;
    gap: 30px;
}