*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background-color: #FCF8EF;
}

/* ABA SUPERIOR ///////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
.aba-superior{
    display: flex;
    
    padding: 20px 100px;
    align-items: center;
}

.aba-superior img{
    width: 100px;
}

.aba-superior p{
    font-family: "Fleur De Leah", cursive;
    font-style: normal;
    font-size: 55px;
    display: inline-flex;
    margin-right: auto;
    color: #323232;
}

.contatos{
    display: flex;
    gap: 30px;
}

.contatos a img{
    width: 35px;
}

.titulo{
    display: flex;
    margin-right: auto;
    gap: 30px;
}

/* CONTEÚDO PRINCIPAL //////////////////////////////////////////////////////////////////////////// */

.esquerda-principal{
    display: inline-block;
    margin-top: 100px;
    width: 55vw;
    padding-left: 90px;
    text-align: center;
}

.texto-cima{
    font-size: 30px;
    color: #F08FB0;
    margin-bottom: 27px;
    font-weight: 600;
}

.texto-meio{
    font-family: "Cinzel", cursive;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 27px;
    font-size: 75px;
    color: #323232;
}

.texto-baixo{
    font-family: sans-serif;
    font-size: 20px;
    color: #323232;
    margin-bottom: 60px;

}

/* Direita //////////////////////////////////////////////// */

.direita-principal{
    display: inline-flex;
    position: absolute;

    margin-bottom: -60px;
    bottom: 0;
    right: 0;

    z-index: -1;

    border: 20px solid white;
    border-right: 0;
    
}

.direita-principal img{
    width: 500px;
}


/* BOTAO PRINCIPAL ////////////////////////////////////////// */
.botao-principal{
    font-size: 20px;
    font-family: 'Gill Sans MT', sans-serif;
    text-decoration: none;
    color: #FCF8EF;
    border: 1px solid #911439;
    background-color: #911439;
    padding: 17px 20px;

}

/* FUNDO ROSA /////////////////////////////////////////////// */
.fundo-rosa{
    position: absolute;
    z-index: -1;
    width: 100%;
    left: 0;
    top: 0;

    height: 100vh;

    background-color: #EFCEC9;
}

/* BOX INFERIOR ////////////////////////////////////////////////////////////////////////////////////////////////// */
.box-inferior-title{
    position: absolute;
    left: 50%;
    top: 105%;
    transform: translateX(-50%);
    font-size: 30px;
    color: #F08FB0;

    text-align: center;

    font-weight: 600;

}

.box-inferior{
    position: absolute;
    left: 50%;
    top: 115%;
    transform: translateX(-50%);
    display: flex;
    text-align: center;

    gap: 20px;
    padding-bottom: 20px;
}

.box-inferior img{
    width: 400px;
    border: 20px solid white;
}
/* RODAPÉ ///////////////////////////////////////////////////////////////////////////////////// */

.rodape{
    text-align: center;
    margin-top: 98vh;
    padding-bottom: 10px;
    font-size: 20px;
    font-weight: 600;
}

hr{
    height: 1px;
    background-color: #323232;
    margin: auto;
    width: 60vw;
    margin-bottom: 15px;
}

.rodape img{
    width: 35px;
    margin: 15px 18px;
}










/* COMPATIBILIDADE COM DIFERENTES VIEWPORTS*/

@media (min-width: 2000px) {
    
    .esquerda-principal{
        margin-top: 1000px;
        width: 55vw;
        padding-left: 200px;

    }

    .texto-cima{
        font-size: 100px;
        color: #F08FB0;
        margin-bottom: 100px;
    }

    .texto-meio{
        font-family: "Cinzel", cursive;
        font-weight: 400;
        font-style: normal;
        margin-bottom: 100px;
        font-size: 200px;
        color: #323232;
    }

    .texto-baixo{
        font-family: 'Gill Sans MT', sans-serif;
        font-size: 80px;
        color: #323232;
        margin-bottom: 150px;
    }




    .botao-principal{
        font-size: 80px;
        font-family: 'Gill Sans MT', sans-serif;
        text-decoration: none;
        color: #FCF8EF;
        border: 1px solid #911439;
        background-color: #911439;
        padding: 25px 90px;
    }






    .direita-principal{
        margin-bottom: -100px;
    }

    .direita-principal img{
        width: 1500px;
    }

    .contatos{
        gap: 150px;
    }

    .contatos a img{
        width: 100px;
    }

    .aba-superior img{
        width: 400px;
    }

    .aba-superior p{
        font-size: 150px;
    }

    .titulo{
        gap: 150px;
    }
}

@media (max-width: 1670px){
    .esquerda-principal{
        margin-top: 25px;
    }
}


@media (max-width: 1370px){
    .esquerda-principal{
        margin-top: 40px;
        padding-left: 50px;

    }

    .texto-cima{
        font-size: 25px;
        margin-bottom: 25px;
    }

    .texto-meio{
        margin-bottom: 25px;
        font-size: 50px;
    }

    .texto-baixo{
        font-size: 20px;
        margin-bottom: 50px;
    }

    .direita-principal img{
        width: 280px;
    }

    .aba-superior img{
        width: 90px;
        height: 100%
    }

    .aba-superior{  
        padding: 20px 30px;
        align-items: center;
    }

    .rodape{
        margin-top: 140vh;
    }

}

@media (max-width: 1200px){
    .esquerda-principal{
        margin-top: 10px;
    }

    .texto-meio{
        font-size: 40px;
    }

    .texto-baixo{
        font-size: 15px;
    }

    .box-inferior img{
        width: 300px;
    }
}





/* COMPATIBILIDADE MOBILE */
@media (max-width: 780px) {

/* SUPERIOR ///////////////////////////////////////////////////////// */
    .aba-superior{
        display: flex;  
        padding: 20px 20px;
        align-items: center;
    }

    .aba-superior p{
        font-size: 30px;
    }

    .titulo{
        gap: 10px;
    }


    .contatos{
        gap: 20px;
    }

    .contatos a img{
        width: 30px;
        height: 90%;
    }

/* CONTEUDO PRINCIPAL ;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;; */

    .esquerda-principal{
        width: 55vw;
        padding-left: 25px;
        margin-top: 150px;
    }

    .texto-cima{
        font-size: 15px;
        margin-bottom: 10px;
    } 

    .texto-meio{
        margin-bottom: 20px;
        font-size: 30px;
    }

    .texto-baixo{
        font-size: 11px;
        margin-bottom: 40px;
    }

    .botao-principal{
        font-size: 15px;
        color: #FCF8EF;
        border: 1px solid #911439;
        background-color: #911439;
        padding: 10px 10px;
    }


    .direita-principal img{
        width: 300px;
        height: 400px;
    } 


    /* BOX INFERIOR //////////////////////////////////////// */
    .box-inferior{
        gap: 10px;

    }

    .box-inferior img{
        width: 200px;
        border: 10px solid white;
    }

    .box-inferior-title{
        font-size: 25px;
    }



    .rodape{
        font-size: 12px;
        font-weight: 600;
        margin-top: 120vh ;
    }

    hr{
        margin: auto; 
        width: 60vw;
        margin-bottom: 15px;
    }

    .rodape img{
        width: 25px;
        margin: 5px 15px;
    }

}



@media (max-width: 430px) {
    .esquerda-principal{
        margin-top: 20px;
    }

/* CONTEUDO PRINCIPAL ;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;; */

    .direita-principal img{
        width: 150px;
        height: 200px;
    }

    /* BOX INFERIOR //////////////////////////////////////// */

    .box-inferior{
        gap: 5px;
    }

    .box-inferior img{
        width: 115px;
        border: 5px solid white;
    }

    .box-inferior-title{
        margin-top: 20px;
    }

    .rodape{
        margin-top: 110vh;
    }

}

@media (max-width: 360px) {
    .box-inferior img{
        width: 100px;
        border: 5px solid white;
    }
}